# Ignore Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Ignore Node.js
node_modules/
build/
dist/

# Ignore Docker
*.log
docker-compose.override.yml

# Ignore databases
*.db
*.sqlite

# Ignore IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Ignore test files
test-sample.html
